.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Form {
  padding: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.FormItem {
  margin-bottom: 30px;
}

.FormTimePicker {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

.Result {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.ResultSeparator {
  padding: 30px
}